<div class="container">
    {{#each zipcodes}}
    <div class="zipcode">
        <label for="zipcode">{{this}}</label>
        <input data-zipcode="{{this}}" type="checkbox" name="zipcode">
    </div>
    {{/each}}
    <div class="kindOfBusinesses">
        {{#each kindOfBusinesses}}
        <label for="kindofBusiness">{{this}}</label>
        <input data-kindofBusiness="{{this}}" type="checkbox" name="kindofBusiness">
        {{/each}}
    </div>
    <div class="list">
        {{#each businesses}}
        <hr>
        <div class="fullBusiness">
            <div class="img-container">
                <img class="img" src="{{this.image}}" alt="coucou">
            </div>
            <div class="business">
                <div class="businessType">{{this.business}}</div>
                <div class="name">{{this.name}}</div>
                <p class="adresse">Adresse : {{this.lieu.adress}} <br> {{this.lieu.zipcode}} Paris </p>
                <div class="popUpParentDiv">
                    <button class="schedules popup" href="">Horaires</button>
                    <a href="/mainPage/{{this._id}}">See more...</a>
                    <div id="popup{{@index}}" class="popup">
                        <span class="popuptext" id="popuptext{{@index}}">
                            <button id="closePopUp{{@index}}" class="closePopUps">close</button>
                            <div class="weekContainer">
                                <li class="day"><span>Lundi : </span>{{this.ouverture.Lundi}}</li>
                                <li class="day"><span>Mardi : </span>{{this.ouverture.Mardi}}</li>
                                <li class="day"><span>Mercredi : </span>{{this.ouverture.Mercredi}}</li>
                                <li class="day"><span>Jeudi : </span>{{this.ouverture.Jeudi}}</li>
                                <li class="day"><span>Vendredi : </span>{{this.ouverture.Vendredi}}</li>
                                <li class="day"><span>Samedi : </span>{{this.ouverture.Samedi}}</li>
                                <li class="day"><span>Dimanche : </span>{{this.ouverture.Dimanche}}</li>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

    <div class="map" id="mapDisplay"></div>

</div>