<div class="container">
    <div class="list">
        <div class="coucou">
            <div class="andImage">
                <h1 class="name">{{business.name}}</h1>
                <img src="{{business.image}}" alt="calme"> <br>
            </div>
            <div class="maincontent">
                <h4 class="title">Adresse :</h4>
                <p class="adresse">{{business.lieu.adress}}, {{business.lieu.zipcode}} Paris </p>
                <div class="infoB">
                    <h5 class="title">Description</h5>
                    <p>{{business.infos}}</p>
                </div>

                <h5 class="title">Schedules</h5>
                <div class="week">
                    <li class="day"><span>Monday : </span>{{business.ouverture.Lundi}}</li>
                    <li class="day"><span>Tuesday : </span>{{business.ouverture.Mardi}}</li>
                    <li class="day"><span>Wednesday : </span>{{business.ouverture.Mercredi}}</li>
                    <li class="day"><span>Thursday : </span>{{business.ouverture.Jeudi}}</li>
                    <li class="day"><span>Friday : </span>{{business.ouverture.Vendredi}}</li>
                    <li class="day"><span>Saturday : </span>{{business.ouverture.Samedi}}</li>
                    <li class="day"><span>Sunday : </span>{{business.ouverture.Dimanche}}</li>
                </div>

                <h5 class="title">Contact : </h5>
                <p>
                    <a href="{{business.site}}" target="_blank">website</a><br>
                    <span>Phone : {{business.phone}}</span><br>
                    <a href="mailto:{{business.mail}}"> {{business.mail}} </a>
                </p>
            </div>
        </div>
    </div>

</div>