<div class="create-container">

    <form action="/product-edit/{{business._id}}" method="post" enctype="multipart/form-data">
        <div class="form-item-wrapper flexed-item">
            <label for="image-img" class="image">Image</label>
            <input name="image" id="image-img" type="file" class="image input">
        </div>
        <div class="nameBusiness">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" value="{{business.name}}">
        </div>
        <div class=" form-item-wrapper flexed-item">
            <label for="type" class="label">Type of Business</label>
            <select id="type" class="select" name="category" required>
                <option value="-1" disabled selected>Choose a category</option>
                <option value="amap" name>Amap</option>
                <option value="market">Market</option>
                <option value="garden">Garden</option>
            </select>
        </div>
        <div class="adressBusiness">
            <span>Address</span>
            <label for="adress">Street</label>
            <input name="adress" id="adress location" type="text" value="{{business.lieu.adress}}">
            <label for="zipcode">Zipcode</label>
            <input name="zipcode" id="zipcode location" type="text" value="{{business.lieu.zipcode}}">
        </div>
        <div class="contactBusiness">
            <span>Contact</span>
            <label for="mail">Mail</label>
            <input type="text" name="mail" id="mail" value="{{business.mail}}">
            <label for="phone">Phone</label>
            <input type="text" name="phone" id="phone" value="{{business.phone}}">
            <label for="site">Site</label>
            <input type="text" name="site" id="site" value="{{business.site}}">
        </div>
        <div class="coordinates">
            <label for="coordinates">Coordinates</label>
            <input type="number" step="0.0000001" name="longitude" id="coordinates1" placeholder="1234" required>
            <input type="number" step="0.0000001" name="latitude" id="coordinates2" placeholder="4567" required>
        </div>
        <div class="scheduleBusiness">
            <span>Schedule</span>
            <div class="dayofBusiness">
                <label for="lundi" class="label">Monday : </label>
                <input type="text" class="input" name="input" id="lundi" value="{{business.ouverture.Lundi}}">
                <label for="" class="label">Tuesday : </label>
                <input type="text" class="input" name="mardi" id="mardi" value="{{business.ouverture.Mardi}}">
                <label for="" class="label">Wednesday : </label>
                <input type="text" class="input" value="{{business.ouverture.Mercredi}}">
                <label for="" class="label">Thursday : </label>
                <input type="text" class="input" value="{{business.ouverture.Jeudi}}">
                <label for="" class="label">Friday : </label>
                <input type="text" class="input" value="{{business.ouverture.Vendredi}}">
                <label for="" class="label">Saturday : </label>
                <input type="text" class="input" value="{{business.ouverture.Samedi}}">
                <label for="" class="label">Sunday : </label>
                <input type="text" class="input" value="{{business.ouverture.Dimanche}}">
            </div>
        </div>
        <div class="infoBusiness">
            <label for="info">Description</label>
            <input name="info" type="text" value="{{business.infos}}">
        </div>
        <div class="bioBusiness">
            <label for="bio">Bio ?</label> <input type="checkbox" id="bio" name="bio">
        </div>
        <button>Edit !</button>
    </form>